:root {
  background-color: var(--soft-blue);
  font-size: 62.5%;
  --soft-blue: #f8fafd;
  --navy: #000080;
  --orange: #e58207;
}
/* Global */

body {
  text-align: center;
  color: var(--navy);
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-size: 3.5rem;
}

h1,
h2,
h3 {
  padding-bottom: 1rem;
}

input {
  width: 13rem;
  margin-bottom: 1.5rem;
  padding: 1rem 0.5rem;
  font-size: 1.8rem;
  border: 0.1rem solid var(--navy);
}

input::placeholder {
  color: #aaa;
}

/* Utility-first CSS */
.container {
  width: 100vw;
  height: 100vh;
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > * {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.btn {
  font-size: 1.8rem;
  color: var(--navy);
  border: 0.1rem solid var(--orange);
  width: 13rem;
  padding: 1rem 0;
  margin-bottom: 1.5rem;
  background-color: white;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(229, 130, 7, 0.5);
  transform: translateY(-0.3rem);
  transition: transform 150ms;
}

.justify-center {
  justify-content: center;
}

.padding-sides {
  padding: 0 2rem;
}

.justify-between {
  justify-content: space-between;
}

.bottom-margin {
  margin-bottom: 5rem;
}

.btn[disabled] {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}
