.choice-container {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  border: 0.1rem solid var(--orange);
  background-color: white;
  display: flex;
}

.choice-prefix {
  padding: 1rem 2rem;
  background-color: var(--navy);
  color: white;
}

.choice-text {
  padding: 1rem;
  width: 100%;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(229, 130, 7, 0.5);
  transform: translateY(-0.3rem);
  transition: transform 150ms;
}

.correct {
  background-color: #28a745;
}

.incorrect {
  background-color: #dc3545;
}

.hud-text {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.progress-bar-wrapper {
  width: 20rem;
  height: 4rem;
  border: 0.2rem solid var(--orange);
}

#progressBar {
  background-color: var(--orange);
  width: 0%;
  height: 3.6rem;
}

#hud {
  margin-bottom: 3rem;
}
